
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://www.google.com/search?q=Skateboarding+Olympics&oi=ddle&ct=335645317&hl=en-GB&source=doodle-ntp&ved=0ahUKEwiMrvis08aHAxV41zgGHfFUDZsQPQgB" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Coures</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Events</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Jovian, Inc</p>
  </footer>
</div>
